body {
margin: 0;
background-image: linear-gradient(to right top, #000000, #231215, #401b20, #5e2429, #7c2e2e);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
